{% extends 'layout.html' %}
{% block title %}Register{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h1 class="mb-3">Register</h1>
        <form method="post" class="needs-validation" novalidate>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" name="username" placeholder="Username" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" placeholder="Email" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" placeholder="Password" required>
            </div>
            <div class="form-group">
                <label for="role">Role</label>
                <select class="form-control" name="role">
                    <!-- Exclude Administrator from public registration -->
                    {% if session.get('role') == 'Administrator' %}
                    {% for role in roles %}
                    <option value="{{ role.name }}">{{ role.name }}</option>
                    {% endfor %}
                    {% else %}
                    {% for role in roles %}
                    {% if role.name != 'Administrator' %}
                    <option value="{{ role.name }}">{{ role.name }}</option>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
        <div class="mt-4">
            <p>Already have an account? <a href="{{ url_for('login') }}">Login here</a></p>
        </div>
    </div>
</div>
{% endblock %}